/* Document Styles */
    html {
        background-color: #fadde1;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 800px;
        margin: 3rem auto;
    }

/*Headings Styles*/
    h1 {
        font-family: Mea Culpa;
        font-size: 50px;
        color: white;
        font-weight: lighter;
        text-align: center;
        border-bottom: #ff5d8f 1.5px solid;
    }

    h2 {
        font-family: Mea Culpa;
        font-size: 95px;
        text-decoration: none;
        font-weight: lighter;
        color: #ffa505;
        text-align: center;
        line-height: 0.9;
        font-style: italic;
    }

    h3 {
        font-family: DM Serif Text, ;
        font-size: 30px;
        font-weight: lighter;
        color: #ff5d8f;
        text-align: center;
    }

/*Card, Main Content, Most popular Products*/

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .card-perfume-1 img {
        height: 300px;
        width: 250px;
    }

    .popular {
        display:flex ;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .container-1 {
        align-items: center;    
    }

    .card-perfume-2 img {
        height: 300px;
        width: 250px;
    }
